body {
  margin: 0;
  background-image:url('../dist/images/backgrounds/blueSkiesAnime.jpg');
  background-repeat: no-repeat;
}

.baloon {
  width: 100px;
  height: 100px;
  opacity: 0.6;
  position: relative;
  animation-name: flying;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}

@keyframes flying {
  0%   { transform: rotate(20deg); left:-20px; top:1200px;}
  25%  {transform: rotate(-20deg); left:300px; top:900px;}
  50%  {transform: scale(1.5);  left:600px; top:600px;}
  75%  {transform: rotate(30deg); transform: scale(2); left:900px; top:300px;}
  100% {transform: scale(0.5); left:1400px; top:0px;}
}