body {
  margin: 0;
  background-image: url('../dist/images/backgrounds/blueSkiesAnime.jpg');
  background-repeat: no-repeat;
}

/* .navbar {
  background-color: white;
} */

.navbar-icon {
  height: 30px;
  width: 30px;
  padding-bottom: 2px;
}


/* ******** Baloon Animation ********* */
.baloon {
  width: 100px;
  height: 100px;
  opacity: 0.6;
  position: relative;
  animation-name: flying;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}

@keyframes flying {
  0% {
    transform: rotate(20deg);
    left: -20px;
    top: 1200px;
  }

  25% {
    transform: rotate(-20deg);
    left: 300px;
    top: 900px;
  }

  50% {
    transform: scale(1.5);
    left: 600px;
    top: 600px;
  }

  75% {
    transform: rotate(30deg);
    transform: scale(2);
    left: 900px;
    top: 300px;
  }

  100% {
    transform: scale(0.5);
    left: 1400px;
    top: 0px;
  }
}

/* ******** TestHome ********* */

.th-top-container {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 3fr 5fr;
  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,0.6) 5%, rgba(27,214,209,0.6) 57%, rgba(0,212,255,0.6) 99%);
}

.col-left {
  grid-area: left;
  display: grid;
  grid-template-areas: "e e"
    "top top-right"
    "middle middle"
    "bottom bottom-right";
  grid-template-columns: 6fr 3fr;
  /* gap: 10px; */
  padding: 20px;
}

.intro {
  grid-area: top;
  vertical-align: bottom;
  padding: 20px;
  color: white;
  text-align: center;
}



.main-title {
  grid-area: middle;
  margin-left: 20px;
  font-weight: 100;
  text-align: center;
  color: rgb(243, 75, 103);
}

.get-started {
  grid-area: bottom;
  /* margin-left: 20px; */
  text-align: center;
}

.col-right {
  grid-area: right;
  /* background-color: rgba(0, 255, 255, 0.6); */
  color: grey;
  text-decoration: none;

}

.col-right .card li {
  /* background-color: aqua; */
}

.col-right a {
  color: grey;
  text-decoration: none;
}

.col-right button {
  height: 100px;
  width: 200px;
  margin: 20px;
  background-color: rgb(243, 75, 103);
  color: white;
}

.footer {
  margin-top: 200px;
  background-color: white;
  min-height: 600px;
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
  color: rgb(243, 75, 103)
}

#project-description,
#the-team {
  border-right: solid 1px grey;

}