body {
  margin: 0;
  background-image: url('../dist/images/backgrounds/blueSkiesAnime.jpg');
  background-repeat: no-repeat;
}

/* .navbar {
  background-color: white;
} */

.navbar-icon {
  height: 30px;
  width: 30px;
  padding-bottom: 2px;
}


/* ******** balloon Animation ********* */
.balloon {
  width: 100px;
  height: 100px;
  opacity: 0.0;
  position: relative;
  animation-name: flying;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}

.balloon2 {
  width: 100px;
  height: 100px;
  opacity: 0.0;
  position: relative;
  animation-name: flying2;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}

@keyframes flying {
  0% {
    opacity: 0.6;
    transform: rotate(20deg);
    left: -20px;
    top: 1200px;
  }

  25% {
    transform: rotate(-20deg);
    left: 300px;
    top: 900px;
  }

  50% {
    transform: rotate(-15deg);
    transform: scale(1.5);
    left: 600px;
    top: 600px;
  }

  75% {
    transform: rotate(30deg);
    transform: scale(2);
    opacity: 0.6;
    left: 900px;
    top: 300px;
  }

  100% {
    transform: scale(0.8);
    opacity: 0.6;
    left: 1400px;
    top: 0px;
  }
}


@keyframes flying2 {
  0% {
    opacity: 0.6;
    transform: rotate(-30deg);
    left: -50px;
    top: 1100px;
  }

  25% {
    transform: rotate(-5deg);
    left: 300px;
    top: 800px;
  }

  50% {
    transform: scale(2);
    left: 600px;
    top: 500px;
  }

  75% {
    transform: rotate(20deg);
    transform: scale(0.8);
    opacity: 0.6;
    left: 900px;
    top: 200px;
  }

  100% {
    transform: scale(0.5);
    opacity: 0.6;
    left: 1400px;
    top: 0px;
  }
}

/* ******** TestHome ********* */

.th-top-container {
  /* background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,0.6) 5%, rgba(27,214,209,0.6) 57%, rgba(0,212,255,0.6) 99%); */
  /*  optional background - yellow green theme */
  background: rgb(84,84,87);
  background: linear-gradient(270deg, rgba(84,84,87,0.6965379901960784) 5%, rgba(27,214,188,0.6377144607843137) 57%, rgba(248,254,85,0.6825323879551821) 99%);
  padding: 20px;
}

.get-started button {
  height: 200px;
  font-size: 2em;
  color: rgb(243, 75, 103);
  margin: auto;
  /* border: solid 2px red; */
  width: 50%;
  text-align: left;
}

#cards-carousel {
  padding-top: 20px;
  margin: auto;
  width: 50%;
  /* background-color: rgba(248,254,85,0.6825323879551821); */

}

.carousel-card {
  height: 280px;
  max-width: 160px;
}

.footer {
  margin-top: 200px;
  background-color: white;
  min-height: 600px;
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
  color: rgb(243, 75, 103)
}

#project-description,
#the-team {
  border-right: solid 1px grey;
}