
.userprofile-main {
  display: grid;
  gap:10px;
  grid-template-areas: "left username right"
                       "left avatar right"
                       "left dropdown-toggle right"
                       "left dropdown-menu right"
                       "left pronouns right"
                       "left edit right" ;
  grid-template-columns: 4fr 10fr 4fr;
  /* border: solid red; */
  margin-top: 20px;
}

.userprofile-main .btn {
  min-width: 100px;
}

.middle {
  background-color: white;
  padding: 20px;
}

.avatar {
  grid-area: avatar;
  // height: 300px;
  text-align: center;
  margin-top: 20px;
}

.dropdown-toggle {
  grid-area:dropdown-toggle;
  margin-top: 20px;
}

.dropdown-menu {
  grid-area: dropdown-menu;
  min-width: 200px;;
}

.dropdown-menu li {
  margin: 10px 0;
}

.dropdown-menu span {
  margin-left: 10px;
}


.avatarRound {
  border-radius: 50%;
  max-height: 200px;
  text-align: center;
  margin-top: 20px;
}

.avatarEditBtn {
  margin-top: 10px;
}

.dd-thumbnail{
  height:50px;
  width:50px;
}

.UP-username-hello {
  font-size: 2em;
}

.UP-username-pronouns {
  font-size: 1.5em;
}

.pronouns {
  grid-area: pronouns;
  text-align: center;
  margin-top: 20px;
}

.username {
  grid-area: username;
  text-align: center;
  margin-top: 20px;
}

.edit {
  grid-area: edit;
  text-align: center;
  margin-top: 20px;
}

.UP-textinput{
  text-align: center;
  // max-width: 400px;
}

.UP-edit-btn {
  margin:10px 10px;
  min-width: 200px;
}


