

.userprofile-main {
  display: grid;
  gap:10px;
  grid-template-areas: "left username right"
                       "left close right"
                       "left avatar right"
                       "left pronouns right"
                       "left edit right" ;
  grid-template-columns: 4fr 6fr 4fr;
  /* border: solid red; */
  margin-top: 20px;

  margin: 4em;
}

.middle {
  background-color: rgba($color: white, $alpha:0.6);
  padding: 2em;
}
.userprofile-main .btn {
  min-width: 100px;
}

.close {
  grid-area: close;
  text-align:right;
}


.closebtn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.closebtn:hover {
  background-color: rgb(187, 7, 31);
  border: rgb(187, 7, 31);

}

.avatar {
  grid-area: avatar;
  height: 300px;
  text-align: center;
  margin-top: 20px;
}

.avatarRound {
  border-radius: 50%;
  max-height: 200px;
  text-align: center;
  margin-top: 20px;
}

.avatarEditBtn {
  margin-top: 10px;
}

.UP-username-msg{
  font-style: italic;
}

.pronouns {
  grid-area: pronouns;
  text-align: center;
  margin-top: 20px;
}

.username {
  grid-area: username;
  text-align: center;
  margin-top: 20px;
}

.edit {
  grid-area: edit;
  text-align: center;
  margin-top: 20px;
}

.UP-textinput{
  text-align: center;
  // max-width: 400px;
}

.UP-edit-btn {
  margin:10px 10px;
  min-width: 200px;
}

