@import '/node_modules/bootstrap/scss/_functions.scss';
@import '/node_modules/bootstrap/scss/_variables.scss';

.gameview {
  padding-inline: 5%;
  height: calc(100vh - ($navbar-padding-y * 2) - $navbar-brand-height - ($navbar-brand-padding-y * 2));
  width: 100vw;
  background-color: rgba(33, 37, 41, 0.5);
  .top-row {
    height: 35%;

    .leaderboard {
      height: 25vh;
      min-height: 70%;
      padding: 0;
    }
    .scoreboard {
      min-height: 30vh;
    }
  }
  .bottom-row {
    height: 55%;
    .card-count {
      height: 25vh;
      min-height: 70%;
    }
    .my-hand {
      width: 20vw;

      .love-letter-card {
        width: 50%;
      }
    }
  }
  // This class is applied to all components in GameView. If you need to make a change to this,
  // create a new unique class on the component as to only change the component you're working on.
  .component {
    border: 1px solid black;
    height: 100%;
    width: 100%;
  }
  .hand {
    width: 11vw;
  }
  .card-art-image {
    filter: brightness(100%);

    &:hover {
      filter: brightness(70%);
      transition: all 1s ease;
    }
  }
  .chat-container {
    height: 100%;
    .chat-messages {
      height: 90%;
    }
  }
}
