.gameview {
  // border: 1px solid black;
  padding-inline: 5%;
  .top-row {
    height: 35%;

    .leaderboard {
      height: 25vh;
      min-height: 70%;
      padding: 0;
    }
    .scoreboard {
      min-height: 30vh;
    }
  }
  .bottom-row {
    height: 55%;
    .card-count {
      height: 25vh;
      min-height: 70%;
    }
    .my-hand {
      width: 25vw;

      .love-letter-card {
        width: 50%;
      }
    }
  }
  // This class is applied to all components in GameView. If you need to make a change to this,
  // create a new unique class on the component as to only change the component you're working on.
  .component {
    border: 1px solid black;
    height: 100%;
    width: 100%;
  }
  .hand {
    width: 11vw;
  }
  .card-art-image {
    -webkit-filter: brightness(100%);

    &:hover {
      -webkit-filter: brightness(70%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
    }
  }
  .chat-container {
    height: 100%;
    .chat-messages {
      height: 90%;
    }
  }
}
