.chat-message {
  margin-top: 1%;
}

.chat-messages {
  max-height: 50vh;
  overflow: auto;
  overflow-wrap: break-word;
}

.chat-timestamp {
  margin-right: 1%;
  font-size: x-small;
  width: 7%;
}

.chat-username {
  margin-right: 0.5%;
  font-weight: bold;
}

.chat-message-body {
  font-size: small;
}

.chat-input {
  position: absolute;
  bottom: 0;
}

.chat-container {
  position: relative;
}