.leaderboard-component {
  text-align: center;
  font-weight: 100;
  background-color: tan;
  border-radius: 10px;
  padding: 10px;
  font-size: 70%;
}

#local-leaderboard-txt {
  font-size: 90%;
}
.game-view {
  .leaderboard {
    padding: 0;
  }
}
.local-leaderboard-title {
  text-align: center;
  background-color: #fff3cd;
  margin-block: 0;
  font-weight: bold;
}
