#login {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#login-input {
  text-align: center;
}

#login-btn {
  width: 20%;
  text-align: center;
}

#login-pw-btn {
  width: 20%;
  text-align: center;
  font-size: 70%;
}