#login-container {
  background-color: white;
  border-radius: 1%;
  margin-top: 10px;
  padding-bottom: 10px;
  max-width: 400px;
}

#login-container .btn {
  min-width: 150px;
}

#login-container .row {
  padding: 12px 0px;
}

#login-username-help {
  max-width: 200px;
}

#login {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#login-input {
  text-align: center;
}

#login-btn {
  text-align: center;
}

#login-pw-btn {
  text-align: center;
}

input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}
